<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Сортировка массива методом пузырька</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- <form method="post">
      <input type="text" name="name" placeholder="Введите сообщение" />
      <button type="submit">Добавить</button>
    </form> -->

    <p th:text="${tables}"></p>
    <!-- <div th:each="el: ${tables}">
      <h3 th:text="${el.name}"></h3> 
    </div> -->
    <p>BubbleSort</p>
  </body>
</html>
