<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Сортировка массива методом пузырька</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <form method="post">
      <h3>Введите пять чисел от 0 до 9 (без запятых и пробелов)</h3>
      <input type="text" name="name" placeholder="" />
      <button type="submit">Добавить</button>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Значения:</th>
        </tr>
      </thead>
      <tbody scope="row">
      <div th:each="el: ${bubbles}">
        <tr>
          <td th:text="${el.name}"></td>
        </tr>
      </tbody></div>
    </table>
  </body>
</html>
